<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
    <title>Http Invoker</title>
</h:head>

<body>
<h1>Enviar Reporte</h1>

<h:form>
    <h:outputText value="Email: "/>
    <h:inputText value="#{indexController.mail}"/>

    <br/>
    <br/>

    <h:commandButton value="Enviar" action="#{indexController.enviar}"/>

</h:form>
</body>
</html>
